:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --base-font-size: 20px; /* Adjust base font size here */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--base-font-size); /* Use base font size here */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@keyframes morphBorder {
  0% {
    border-radius: 50%; /* Start as circular */
  }
  25% {
    border-radius: 20%; /* Morph to more rectangular */
  }
  50% {
    border-radius: 50% 20%; /* Oval shape */
  }
  75% {
    border-radius: 30% 50% 20%; /* Irregular shape */
  }
  100% {
    border-radius: 50%; /* Back to circular */
  }
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}


